# Simple single-route setup: send everything to Slack
route:
  receiver: "slack-notifications"

receivers:
  - name: "slack-notifications"
    slack_configs:
      - send_resolved: true
        channel: "#devops-alerts-monitoring"
        username: "PrometheusBot"
        icon_emoji: ":rotating_light:"
        api_url: "https://hooks.slack.com/services/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"
